<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sasquatch Sightings by Year</title>
  <!-- Bring in our bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-w6tc0TXjTUnYHwVwGgnYyV12wbRoJQo9iMlC2KdkdmVvntGgzT9jvqNEF/uKaF4m" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/_variables.scss">
    <link rel="stylesheet" href="../static/css/_bootswatch.scss">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  <!-- Plotly script source -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!--D3 cdn-->
  <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="https://erinlampa.github.io/">The Sasquatch Story</a>
<button class="navbar-toggler  border border-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Plots
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="../templates/index_kw.html">Sightings by Year</a>
                        <a class="dropdown-item" href="../templates/index_jm.html">Sightings by Month/Day</a>
                        <a class="dropdown-item" href="../templates/index_dk.html">Sightings by Location</a>
                        <a class="dropdown-item" href="http://www.bfro.net/GDB/submitfm.asp" target="_blank">Report a Sighting to BFRO</a>

                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/comparisons.html">Comparison</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../templates/data.html">Data</a>
              </li>
    
            </ul>
          </div>

  </nav>
    
  <div id="barplot"></div>
  <script src="../static/js/plot-jm.js"></script>
  
</body>
</html>
